## Datatypes

In [14]:
2

2

In [2]:
type(2)

int

In [3]:
3.0

3.0

In [4]:
type(3.0)

float

In [6]:
'Prajwal'

'Prajwal'

In [7]:
type('Prajwal')

str

In [48]:
len('Prajwal')

7

In [8]:
'P'

'P'

In [35]:
type('P')

str

In [36]:
flowers=("Rose","Lotus")

In [37]:
type(flowers)

tuple

In [38]:
Cars=['Honda',"Audi"]

In [39]:
type(Cars)

list

## Basic Airthmatic Operaions

In [11]:
#Integer Addition
2+3

5

In [12]:
#Floating numbers Addition
6.5+3.0

9.5

In [13]:
#Multiplication
8*5

40

In [15]:
#Substraction
9-3

6

In [16]:
#Division
2/5

0.4

In [17]:
#Modulo
21%5

1

In [18]:
# Powers
2**3

8

In [19]:
# Order of Operations followed in Python
2*5+4*2

18

In [20]:
# Order of Operations followed in Python
2+5*4+2

24

In [21]:
# Using of parentheses to specify orders
(2+(5*3))+(8-3)

22

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [22]:
# Let's create an object called "a" and assign it the number 2
a=2

In [23]:
#Printing the value of "a"
a

2

In [24]:
a=2+2

In [25]:
a

4

In [26]:
# Adding the objects
a+a

8

In [27]:
# Adding the objects
b=a+a

In [28]:
b

8

In [29]:
# Reassigning the values
a=10

In [30]:
a

10

In [31]:
#Reassigned value of "a" is 10 and value of "b" is 8 
b=a+b

In [32]:
#Resultant of "b" is 10+8
b

18

In [33]:
# Use object names to keep better track of what's going on in your code!
Principle = 100

time = 12

rate_of_intrest = 5

Simple_intrest= (Principle*time*rate_of_intrest)/100

In [34]:
Simple_intrest

60.0

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [40]:
x = 5
print(type(x))

<class 'int'>

In [41]:
x = "Hello World"
print(type(x))

<class 'str'>

In [42]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [43]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [44]:
x = range(6)
print(type(x))

<class 'range'>

In [45]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [46]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [47]:
x = True
print(type(x))

<class 'bool'>